In [3]:
#1.printing common names
empname=['ramesh', 'suresh', 'mahesh','ali','jacob','saritha']
empname2=['ali', 'mukesh', 'mahesh', 'jacob', 'sai','sarita']
for i in empname:
  for j in empname2:
    if i==j:
      print(i,end=' ')

mahesh ali jacob

In [4]:
#2.name age problem
names_string = input("Enter names separated by spaces: ")

names_list = names_string.split()

age_dict = {}
for i in names_list:
  age=int(input(f"enter the age for {i}:"))
  age_dict[i]=age
for i,j in age_dict.items():
  print(f"{i}:{j}")

Enter names separated by spaces: abhi rahul bala
enter the age for abhi:28
enter the age for rahul:22
enter the age for bala:18
abhi:28
rahul:22
bala:18

In [5]:
5#3.patients bill
vitc,para,azi=33,35,49
tot=2000
x=3*azi+2*para+5*vitc
print(x,tot-x)

382 1618

In [6]:
#4.vowels
s=input("")
count=0
l=len(s)
for i in s:
  if i in ('a','e','i','o','u'):
    count+=1
print(count)

abhi bala rahul
6

In [8]:
#5.eligibility criteria
age=int(input("enter your age:"))
if age>18:
  print("congrats!you are eligible")
else:
  age=18-age
  print(f"return after {age} years")

enter your age:15
return after 3 years

In [9]:
#6.cumulative sum of list
A = [1, 2, 3, 4, 5]
sum=0
l=[]
for i in A:
  sum=i+sum
  l.append(sum)
print(l)

[1, 3, 6, 10, 15]

In [10]:
#7.encoding word
word=input("please enter your text")
enword=word.split()
print(enword)
enc=''
for i in enword:

  if i[0] in ('a','e','i','o','u'):
    enc=enc+i[0]+i[-1]+' '

  else:
    for j in i:
      if j not in ('a','e','i','o','u'):
       enc=enc+j
    enc=enc+' '
print(enc)

please enter your textabhi rahl bala
['abhi', 'rahl', 'bala']
ai rhl bl

In [11]:
#8
word=input("enter a word:")
count=1
enc=''
leng=len(word)

for i in range(1,leng):
 if word[i]==word[i-1]:
  count=count+1

 else:
  enc=enc+str(count)+word[i-1]

  count=1
enc=enc+str(count)+word[-1]
print(enc)

enter a word:aabbbcccddd
2a3b3c3d